<h3>Create an Issue</h3>
<div class="form-group">
	<label for="title">Title</label>
	<input type="text" class="form-control" id="new-issue-title" placeholder="Issue Title" />
</div>
<div class="form-group">
	<label for="body">Body</label>
	<textarea name="title" class="form-control" id="new-issue-body" placeholder="What's your Issue Kenneth?" rows="5"></textarea>
</div>
<button type="submit" class="btn btn-primary" {{action "SubmitIssue"}}>Submit Issue</button>
